/* PROF NOTE: You had two @s in front of the font-face rule,
    removing the extra will fix it.
    Also, you need to remove the leading '/' in front of the file name. */

/*imports external font 'Brilon' */
@font-face {
  font-family: 'brilon';
  src: url("Brilon Font/Brilon_1.1-Regular.ttf");
}

/*determines the text alignment and bg color for overall pages*/
body{
  text-align: center;
  background-color: #F6E3CD;
}

/*class that gives relative position*/
.relativee{
  position: relative;
}

/*heading that determines font size, family, alignmnet, and color*/
h1{
  font-size: 3vw;
  font-family: brilon;
  text-align: center;
  color: #b76f6f;
}

/*uses flex to display images in a 3 column way*/
.gallery{
  display: flex;
  width: 90%;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: center;
}
/*puts images in flexbox with padding and max-width*/
.imgdisplay{
  object-fit: cover;
  display: block;
  padding: 10px;
  max-width: 25%;
}

/*heading with different color for korea page*/
.heading1{
  font-family: brilon;
  color: #b76f6f;
  font-size: 2vmax;
}

/*heading with different color for ny page*/
.heading2{
  font-family: brilon;
  color: #47532c;
  font-size: 2vmax;
}

/*back arrow with different color in seoul page*/
.arrow{
  position: absolute;
  text-decoration: none;
  font-size: 4vw;
  color: #b76f6f;
  top: 2%;
  left:20%
}

/*back arrow with different color in ny page*/
.arrow2{
  position: absolute;
  text-decoration: none;
  font-size: 4vw;
  color: #47532c;
  top: 2%;
  left:20%
}

/*back arrow in photo gallery with different color and position*/
.arrow3{
  position: absolute;
  text-decoration: none;
  font-size: 4vw;
  color: #47532c;
  top: 2%;
  left:4.5%
}

/*back arrow in photo gallery with different color and position*/
.arrow4{
  position: absolute;
  text-decoration: none;
  font-size: 4vw;
  color: #b76f6f;
  top: 2%;
  left:4.5%
}

/*determines font family, color, and size for*/
/* .fontt{
  font-family: brilon;
  color: #b76f6f;
  font-size: 1.5vmax;
} */

/*index in homepage that determines font family,color,size, and margin*/
.seoulcolor{
  font-family: brilon;
  color: #b76f6f;
  font-size: 1vmax;
  margin-top: 1vmax;
}
/*index in homepage that determines font family,color,size, and margin*/
.nycolor{
  font-family: brilon;
  color: #b76f6f;
  font-size: 1vmax;
  margin-top: 1vmax;
  margin-right: 2.4vmax;
}

/*homepage heading that determines font family, alignment, position, color, and size*/
.heading{
  font-family: brilon;
  text-align: center;
  position: absolute;
  top: 28%;
  left: 38%;
  color: #47532C;
  font-size: 3vmax;
}

/*index for seoul that determines font family, alignment, position, color, and margin*/
.seoulposition{
  position: absolute;
  font-family: brilon;
  text-align: center;
  top:45%;
  left:33%;
  color:#47532C;
  margin-top: 2vmax;
}

/*index for ny that determines font family, alignment, position, color, and margin*/
.nyposition{
  position: absolute;
  font-family: brilon;
  text-align: center;
  top:45%;
  left:48%;
  color:#47532C;
  margin-top: 2vmax;
}

/*creates a window-sized grid for bg image with relative position*/
.fullgrid{
  display: grid;
  height: 100%;
  position: relative;

}

/*place background img to be full sized in the grid*/
.center{
  max-width: 100%;
  max-height: 100vh;
  margin: auto;
}

/*class for circles: determines position, width, and height*/
.box{
  cursor: pointer;
  position: absolute;
  width:2vmin;
  height: 2vmin;
  border-radius: 50%; /* PROF NOTE: We can add border-radius if you want them to be circles */
}

/* PROF NOTE: Creating IDs for the individual map boxes */
/* PROF NOTE: If we use percentages to position the absolute elements
    their positions will scale with their parent */

/*IDs for all circles that are placed in the seoul and ny map*/
#box2{
  top: 64%;
  left: 51%;
  background-color: #eddada;
}

#box3{
  top: 72%;
  left: 58%;
  background-color: #eddada;
}

#box4{
  top: 62%;
  left: 42%;
  background-color: #c9bca4;
}

#box5{
  top: 43%;
  left: 43%;
  background-color: #c9bca4;
}

#box6{
  top: 54%;
  left: 41%;
  background-color: #c9bca4;
}

/*creates the indexes in the homepage: determines alignment, list type, margin and size*/
ul{
text-align: center;
list-style-type: none;
margin-bottom: 2vmax;
font-size: 1.25vmax;
}

/*places the text in line*/
ul li{
  display: inline-block;
}

/*creates padding and gets rid of underline in hyperlink*/
ul li a{
text-decoration: none;
padding:0.1vmax 1.5vmax
}

/*changes color when hovered*/
ul li a:hover {
  color: #010305;
}
